{% extends "base.njk" %}

{% block title %}Home{% endblock title %}

{% block body %}
<a href="/users">Users</a>
<a href="/logout">Logout</a>

<form action="/shout" method="POST" enctype="multipart/form-data">
    <input name="_csrf" type="hidden" value={{csrfToken}}>
    <input type="text" name="shout_body" placeholder="Shout to the world!">
    <input type="file" name="shout_image" accept="image/*">
    <button type="submit">Shout!</button>
</form>

<section>
    {% for post in posts %}
    <article>
        {{post.body}} - {{post.name}}
        <img src={{post.image_url}}>
    </article>
    {% endfor %}
</section>

{% endblock body %}
