{% extends "base.njk" %}

{% block title %}Login{% endblock title %}

{% block body %}
    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input name="username" type="text">
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>
{% endblock body %}
