{% extends "base.njk" %}

{% block title %}Login{% endblock title %}

{% block body %}
    <form action="/login" method="POST">
        <input name="_csrf" type="hidden" value={{csrfToken}}>
        <div>
            <label for="email">Email</label>
            <input name="email" type="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>
    <a href="/register">Not a user? register!</a>
{% endblock body %}
